[flake8]
max-line-length=120

ignore =
    # D202 No blank lines allowed after function docstring
    D202,
    # Following are ignored for compatibility with black
    # https://black.readthedocs.io/en/stable/faq.html#why-are-flake8-s-e203-and-w503-violated
    # E203: Whitespace before ':'
    E203,
    # W503: Line break occurred before a binary operator
    W503,
    # W504 line break after binary operator
    W504,

per-file-ignores =
    # imported but unused
    __init__.py: F401,
